@import "../../styles/variables";

.secondary {
  display: flex;
  width: 100%;
  height: 860px;
  padding: 20px;
  :global .secondary {
    &__title {
      width: 40%;
      height: 804px;

      display: flex;
      flex-direction: column;
      justify-content: end;
      h2 {
        font-weight: 400px;
        font-size: 4rem;
        color: #ffffff;
      }
      h3 {
        font-weight: 800px;
        font-size: 2rem;
        color: #ffffff;
      }
      .btn {
        color: #d50b27;
        align-self: flex-end;
        width: fit-content;
        background-color: $secondary-color;
      }
    }

    &__second {
      width: 55%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100% !important;
        // transform: rotate(90deg);
        height: auto;
      }
    }
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    // justify-content: start;
    // align-items: center;
    :global .secondary {
      &__title {
        // border: 2px solid green;

        justify-content: flex-start;
        width: 100%;

        // width: 40%;
        // height: 800px;

        // display: flex;
        // flex-direction: column;

        h2 {
          font-size: 2.77rem;
          color: #ffffff;
        }

        h3 {
          font-size: 1.8rem;
        }
        .btn {
          align-self: center;
          font-size: 2.58rem;
        }
      }

      &__second {
        margin-top: 44px;
        // border: 2px solid blue;
        width: 100%;
        img {
          border: 2px solid vilot;
        }
      }
    }
  }
}
