
$primary-color: #d50b27;
.navbar {
    border: 2px solid yellowgreen;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 9px;
  :global .navbar{

  
    &__img {
      img {
        width: 65.88px;
      }
    }
    &__item {
      display: flex;
      width: 50%;
       list-style: none;
      height: 32px;
      list-style: none;
      justify-content: space-between;
  
      font-size: 23px;
      font-weight: 800px;
      // line-height: 40px;
  
      color: #ffffff;
      a{
        text-decoration: none;
        color: white;
      }
      a:hover{
        color: yellow ;
      }
     li{
      list-style: none;
     }
      
    }
    &__MenuButton {
      display: none;
    }
  
    @media screen and (max-width: 767px) {
     
      height: 130px;
  
      &__item {
        
        display:none;
        width: 100%;
        height: 145px;
      
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        li{
          padding: 10px;  
          background-color: $primary-color;
        }
      }
  
      &__open{
  
        // border: 2px solid greenyellow;
        z-index: 2;
      position: absolute;
      left: 0;
       top: 115px;
       background-color : white;
     
     display: block!important;
     font-weight: 700;
      }
  
      &__MenuButton {
        // border: 0.8px solid greenyellow;
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 65px;
        height: 50px;
  
        span {
          border-radius: 2px;
          background-color: #ffffff;
          width: 34px;
          height: 3px;
        }
        // width: 100px;
        // height: 100px;
  
        // display: flex;
        // justify-content: end;
        // //    &__Menu__button {
      }
  
      // &__Menu {
      //   border: 2px solid greenyellow;
      //   display: flex;
      //   justify-content: end;
      //    &__Menu__button {
    }
  }
  }