@import "../../styles/variables";

.Footer {
  padding: 25px;
   height: 382px;
  :global .Footer {
    &_cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      
      &_itemonetitle {
        width: 144px;

        p {
          font-family: $font-Regular;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          color: $secondary-color;
        }
        &_logo {
          img {
            width: 360px;
            height: 87px;
          }
        }
      }

      &_social {
        display: flex;

        align-items: center;
        &_insta {
          width: 78px;
          height: 78px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &_linkd {
          width: 88px;
          height: 88px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &_link {
        width: 198px;
        color: $secondary-color;
        ul {
          list-style-type: none;
        }
        &s {
          font-family: $font-Regular;
          font-size: 30px;
          font-weight: 800;
          line-height: 40px;
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    
   height: 182px;
    :global .Footer {
      
      &_cont {
        margin-left: 0px;
        &_itemonetitle {
          // width: 74px;
          p {
            font-family: $font-Regular;
            font-size: 10px;
            font-weight: 400;
            line-height: 30px;
            color: $secondary-color;
          }
          &_logo {
            img {
              width: 116px;
              height: 28px;
            }
          }
        }

        &_social {
          display: flex;
          align-items: center;

          &_insta {
            width: 35px;
            height: 35px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          &_linkd {
            width: 39px;
            height: 40px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        &_link {
          width: 71px;

          color: $secondary-color;
          ul {
            list-style-type: none;
          }
          &s {
            font-family: $font-Regular;
            font-size: 12px;
            font-weight: 800;
            line-height: 30px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
